<!DOCTYPE html>
<html data-theme="dark" lang="fr">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <title>Aviron - Saisie de Facture</title>
</head>

<body class="font-[Fira_Sans]">
  <div class="pl-20 pr-20 w-300">
    <div class="text-4xl pt-10 pb-10">
      Aviron - Saisie de facture
    </div>
    <div class="grid gap-5">
      <div class="flex">
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend">Choix de l'entreprise*</legend>
          <select id="entreprises" class="select w-full"></select>
        </fieldset>
      </div>
      <div class="flex">
        <fieldset class="fieldset w-full">
          <legend class="fieldset-legend">Détails sur la facture</legend>
          <textarea class="textarea h-24 w-full" id="facture-details"></textarea>
        </fieldset>
      </div>
      <div class="flex">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Date d'échéance (facultatif)</legend>
          <input type="date" class="input" id="facture-date-echeance" />
        </fieldset>
      </div>
    </div>
    <div class="pt-5 pb-5 text-xs"><b>Items:</b></div>
    <div id="liste-items"></div>
    <div class="flex gap-5 justify-end pt-5 pb-10">
      <div class="flex-auto">
        <button class="btn btn-info" onclick="envoyer()">Envoyer la facture</button>
      </div>
      <div>
        <button class="btn btn-dash btn-success" onclick="ajoutItems()">Ajout</button>
      </div>
      <div>
        <button class="btn btn-dash btn-error" onclick="retraitItems()">Retrait</button>
      </div>
    </div>
    <div id="toast-error" class="toast toast-top toast-end hidden">
      <div class="alert alert-error">
        <span id="error-message"></span>
      </div>
    </div>
    <div id="toast-success" class="toast toast-top toast-end hidden">
      <div class="alert alert-success">
        <span>Facture crée</span>
      </div>
    </div>
    <script>
      let noItems = 0;

      const showError = (message) => {
        const toast = document.querySelector("#toast-error");
        const errorMessage = document.querySelector("#error-message");

        errorMessage.textContent = message;
        toast.classList.remove("hidden");

        setTimeout(() => {
          toast.classList.add("hidden");
        }, 3000);
      };

      const showSuccess = () => {
        const toast = document.querySelector("#toast-success");

        toast.classList.remove("hidden");

        setTimeout(() => {
          toast.classList.add("hidden");
        }, 3000);
      };

      const formatCodePostal = (codePostal) => {
        const u = codePostal.toUpperCase().trim();

        return [u.slice(0, 3), " ", u.slice(3)].join('');
      };

      const clearForm = () => {
        document.querySelector("#entreprises").selectedIndex = 0;

        for (const item of document.querySelectorAll("input")) {
          item.value = "";
        }

        while (noItems > 1) {
          retraitItems();
        }
      };

      const validation = (items) => {
        let errors = false;

        for (const [i, item] of items.entries()) {
          if (item.nom.trim() === "") {
            document.querySelector(`#item-nom-${i+1}`).classList.add("input-error");
            errors = true;
          }

          if (item.quantite === "" || Number.isNaN(parseFloat(item.quantite))) {
            document.querySelector(`#item-quantite-${i+1}`).classList.add("input-error");
            errors = true;
          }

          if (item.prix === "" || Number.isNaN(parseFloat(item.prix))) {
            document.querySelector(`#item-prix-${i+1}`).classList.add("input-error");
            errors = true;
          }
        }

        return !errors;
      }

      const envoyer = async () => {
        let items = [];

        const addItems = (key, input) => {
          const index = Number(input.id.split("-").reverse()[0]) - 1;

          if (!items[index]) {
            items.push({ nom: "", description: "", quantite: 0, prix: 0 })
          }

          items[index][key] = input.value;
        }

        for (const [i, input] of document.querySelector("#liste-items").querySelectorAll("input").entries()) {
          if (input.id.startsWith("item-nom-")) {
            addItems('nom', input);
          }

          if (input.id.startsWith("item-description-")) {
            addItems('description', input);
          }

          if (input.id.startsWith("item-quantite-")) {
            addItems('quantite', input);
          }

          if (input.id.startsWith("item-prix-")) {
            addItems('prix', input);
          }
        }

        const facture = {
          entreprise_id: Number(document.querySelector("#entreprises").value),
          details: document.querySelector("#facture-details").value,
          date_echeance: Date.parse(document.querySelector("#facture-date-echeance").value),
          items,
        }

        if (!validation(items)) {
          showError("Veuillez corriger les erreurs dans les champs en rouge");

          return;
        }

        try {
          const response = await fetch("http://localhost:8080/aviron/api/factures", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
              "Authorization": "Basic b2Rvby13cml0ZXI6bXktc3VwZXItcGFzc3dvcmQ=",
            },
            body: JSON.stringify(facture)
          });

          if (response.status === 400) {
            showError((await response.json()).error);
            return
          }

          if (response.status !== 204) {
            showError(`Erreur: ${response.status} - ${(await response.json()).error}`);
            return
          }
        } catch (error) {
          showError(`Erreur: ${(error instanceof Error) ? error.message : String(error)}`);
          return
        }

        showSuccess();
        clearForm();
      }

      const ajoutItems = () => {
        let validEntreprise = true;

        if (!validEntreprise) {
          return;
        }

        noItems++;

        const itemPicker = document.createElement("div");
        itemPicker.id = `liste-item-${noItems}`;
        itemPicker.innerHTML = `
          <div class="grid grid-flow-col grid-rows-2">
            <div class="col-span-10">
              <fieldset class="fieldset w-full">
                <label class="label" for="item-nom-${noItems}">Nom du produit*</label>
                <input type="text" id="item-nom-${noItems}" class="input w-full" />
              </fieldset>
            </div>
            <div class="col-span-10">
              <fieldset class="fieldset w-full">
                <label class="label" for="item-description-${noItems}">Description</label>
                <input type="text" id="item-description-${noItems}" class="input w-full" />
              </fieldset>
            </div>
            <div class="col-span-1 row-span-2 justify-self-end">
              <fieldset class="fieldset w-20">
                <label class="label" for="item-quantite-${noItems}">Quantité*</label>
                <input type="text" id="item-quantite-${noItems}" class="input w-20" />
              </fieldset>
            </div>
            <div class="col-span-1 row-span-2 justify-self-end">
              <fieldset class="fieldset w-20">
                <label class="label" for="item-prix-${noItems}">Prix*</label>
                <input type="text" id="item-prix-${noItems}" class="input w-20" />
              </fieldset>
            </div>
          </div>
          <div class="divider"></div>
        `
        const listeItems = document.querySelector("#liste-items");
        listeItems.appendChild(itemPicker);

        const nomToLeave = document.querySelector(`#item-nom-${noItems}`);
        nomToLeave.addEventListener("focusout", (event) => {
          nomToLeave.classList.remove("input-error");
        });

        const quantiteToLeave = document.querySelector(`#item-quantite-${noItems}`);
        quantiteToLeave.addEventListener("focusout", (event) => {
          quantiteToLeave.classList.remove("input-error");
        });

        const prixToLeave = document.querySelector(`#item-prix-${noItems}`);
        prixToLeave.addEventListener("focusout", (event) => {
          prixToLeave.classList.remove("input-error");
        });
      };

      const retraitItems = () => {
        if (noItems === 1) {
          return;
        }

        const aRetirer = document.querySelector(`#liste-item-${noItems}`);
        const listeItems = document.querySelector("#liste-items");
        listeItems.removeChild(aRetirer);
        noItems--;
      }

      const loadData = async () => {
        const updateEntreprises = async () => {
          let entreprises = [];

          const response = await fetch("http://localhost:8080/aviron/api/entreprises", {
            method: "GET",
            headers: {
              Authorization: "Basic b2Rvby13cml0ZXI6bXktc3VwZXItcGFzc3dvcmQ=",
            },
          });

          if (response.status !== 200) {
            showError(`Erreur: ${response.status} - ${response.statusText}`);
          }

          try {
            entreprises = await response.json();
          } catch {
            // On veut afficher une entreprise vide.
          }

          const select = document.querySelector("#entreprises")

          for (const [i, entreprise] of entreprises.entries()) {
            const item = document.createElement("option");
            item.innerText = `${entreprise.nom} - ${entreprise.client} - ${entreprise.courriel} - ${entreprise.telephone} - ${entreprise.adresse}, ${formatCodePostal(entreprise.code_postal)}, ${entreprise.ville}, ${entreprise.province}, ${entreprise.pays}`;
            item.value = entreprise.id;

            if (i === 0) {
              item.selected = true;
            }

            select.appendChild(item);
          }

          if (entreprises.length === 0) {
            const item = document.createElement("option");
            item.innerText = "Aucune entreprise disponible";
            item.selected = true;
            item.disabled = true;
            select.appendChild(item);

            for (const input of document.querySelectorAll("input")) {
              input.disabled = true;
            }

            for (const textarea of document.querySelectorAll("textarea")) {
              textarea.disabled = true;
            }

            for (const button of document.querySelectorAll("button")) {
              button.disabled = true;
            }

            validEntreprise = false;
            return;
          }
        }

        await updateEntreprises();
        ajoutItems();
      };

      document.addEventListener("DOMContentLoaded", async () => await loadData());
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</body>

</html>
